.thunk-logo img {
    max-width: 100px !important;
}
.main-header-bar {
    padding: 0px 0px;
}
.swiper-slide .entity-img {
    width: 100%;
    height: max-content !important;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: black;
}
.swiper-slide {
    height: calc(85vh - 14vh);
}
.page-id-8  button.woocommerce-button.button.woocommerce-form-login__submit {
    margin-top: 96px !important;
}